body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.hi{
  height:700px;
  width: 800px;
  background-color: rgb(126, 117, 117);
  margin:  0 0 0 250px;
}
.yes{
  display: grid;
  grid-template-rows: 3 50px;
  grid-template-columns: 3 50px;
}